body {
  font-family: "Roboto", sans-serif;
  background-color: #efefef;
  line-height: 1.9;
  color: #8c8c8c;
  position: relative; }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Roboto", sans-serif;
  color: #000; }

a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; }
a, a:hover {
  text-decoration: none !important; }

.content {
  padding: 7rem 0;
  background-image: url('sources/bg.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  width: 60%;
  padding: 10px 0;
}
.contact-wrap {
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  background: #fff;
  padding: 15px;
  border-radius: 16px}
.contact-wrap .col-form-label {
  text-transform: capitalize;
  font-size: 14px;
  color: #b3b3b3;
  margin: 0 0 10px 0;
  display: inline-block;
  padding: 0; }

.text-center{
  text-align: center;
}

.center{
  margin: auto;
}

h3 {
  font-size: 26px;
}
form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}